@import "variables";
@import "operaciones";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s linear;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
.navbar {
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  color: black;
  font-family: "Lobster", cursive;
  &:hover {
    color: red;
  }
}
li {
  .nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    &:hover {
      color: red;
    }
  }
}

.footer {
  background-color: $background-negro;
  color: white;
  &__quickLinks {
    list-style: none;
    &__a {
      text-decoration: none;
      color: white;
    }
    &__redes {
      font-size: 2rem;
      color: white;
    }
  }
}

.btn1 {
  @include boton-estilo-footer;
  &:hover {
    color: black;
    background-color: white;
    transition: 1s;
  }
}
