.hero__jeans {
  background: url(../../img/Jeans/clothing-2886783_1920.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  @media only screen and(max-width: $breakpoint-smartphone) {
    display: none;
  }
  @media only screen and(max-width: $breakpoint-tablet) {
    display: none;
  }
  &__titulo {
    position: absolute;
    left: 38%;
    font-size: 4rem;
    font-weight: 700;
    color: black;
  }
  &__subtitulo {
    position: absolute;
    left: 32%;
    font-size: 4rem;
    font-weight: 700;
    color: seagreen;
  }
}

.container__video {
  position: relative;
  video {
    border-radius: 1rem;
    object-fit: cover;
  }
  &__titulo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
  }
  @media only screen and(max-width: $breakpoint-smartphone) {
    display: none;
  }
  @media only screen and(max-width: $breakpoint-tablet) {
    display: none;
  }
  @media only screen and(max-width: $breakpoint-desktop) {
    display: none;
  }
}
