.nosotras {
  &__uno {
    background: url(../../img/Nosotras/nosotras1.png) no-repeat;
    background-size: contain;
    height: 90vh;
    width: 100%;
  }
  &__dos {
    background: url(../../img/Nosotras/nosotras2.png) no-repeat;
    background-size: contain;
    height: 90vh;
    width: 100%;
  }
  &__tres {
    background: url(../../img/Nosotras/nosotras3.png) no-repeat;
    background-size: contain;
    height: 90vh;
    width: 100%;
  }
}
