@mixin boton-estilo-footer {
  height: 30px;
  width: 110px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
}
@mixin boton-estilo-general {
  height: 45px;
  width: 110px;
  background-color: red;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
}

@keyframes SubeYBaja {
  0% {
    transform: translate(0) translateZ(0);
  }
  50% {
    transform: translateY(10px) translateZ(0);
  }
  to {
    transform: translate(0) translateZ(0);
  }
}
